<div class="titre"> <h1> <md-icon>fitness_center</md-icon> Mes compétences </h1> </div>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" class="containercards">
  <div fxFlex="33" fxFlex.xs="50">
    <md-card class="container">
      <md-card-title>
        Développement Web </md-card-title>
      <img md-card-image src="../../assets/icons/browser2.png">

      <md-card-content>
        <p> Typescript, Javascript, PHP, HTML/CSS </p>


      </md-card-content>

    </md-card>
  </div>
  <div fxFlex="33" fxFlex.xs="50">
    <md-card class="container">
      <md-card-title>
        Développement Logiciel </md-card-title>
      <img md-card-image src="../../assets/icons/laptop.png">

      <md-card-content>
        <p>C, R, JAVA </p>


      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="33" fxFlex.xs="50">
    <md-card class="container">
      <md-card-title>
        Bases de données </md-card-title>
      <img md-card-image src="../../assets/icons/database.png">

      <md-card-content>
        <p>MySQL, SQL, Phpmyadmin</p>


      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="33" fxFlex.xs="50">
    <md-card class="container">
      <md-card-title>
        Framework/CMS </md-card-title>
      <img md-card-image src="../../assets/icons/framework.png">

      <md-card-content>
        <p>Angular 2/4, NodeJS, Express,Wordpress</p>


      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="33" fxFlex.xs="50">
    <md-card class="container">
      <md-card-title>
        Graphisme </md-card-title>
      <img md-card-image src="../../assets/icons/graphisme.png">

      <md-card-content>
        <p>Photoshop, Illustrator</p>


      </md-card-content>
    </md-card>
  </div>
</div>
