
md-card-header {
  padding-bottom: 0;

  text-align: center;
}
.titre {

  padding-top:  70px;

}
.formationMargin{
  margin-bottom: 40px;
}
.exptitre {
  padding-top : 10%
}
.experience {
  background-color: #3f51b5;
  display:table-cell;
  vertical-align:middle;
  color: white;
  font-size: 24px;
}

md-card-content {
  font-size: 40px;

}
ul {
  font-size: 20px;

}
#exp1 {

  height: 100%;
}
#exp2 {
  height: 100%
}
h1  {
  margin: 0 auto;
  font-family: "roboto-thin";
  font-size: 200%;
  margin-bottom: 10%;
}
a {
  cursor: default;
}

.full-circle2 {
  border-collapse: separate;

    background-color:#4db6ac;
    height:70px;
    width: 70px;
    -webkit-border-radius:100px !important;
    -moz-border-radius:75px;
    font-family: "roboto-bold";
    text-align: center;
    line-height: 16px;
    color: black;
    font-size : 16px;

}
.vide {
  width: 100%;
  height: 2vh;
}
.full-circle2 span {
  display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
@media screen and (max-width:640px) {
  .experience {
    font-size: 12px;
    width: 70%;
  }
  .full-circle2 {
    height:50px;
    width: 81px;

  }
  .full-circle2 span {
    display: inline-block;

      line-height: 11px;
  }

}
