
  <md-card-header class="titre">
    <h1> <md-icon>business_center</md-icon> Mes Experiences professionnelles </h1>

  </md-card-header>
  <md-card-content>
  <div fxLayout="row"  fxLayout.xs ="column" fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap.xs="20px" class="formationMargin" >
  <div fxFlex="15" fxFlex.xs="10"  >
  <md-card class="full-circle2"><span>Mai 2016 <br> -- <br>Sep 2016 </span></md-card>
  </div>
  <md-card fxFlex="80" fxFlex.xs="90"  class="experience" id="exp1">
    <md-card-header>
Consultant CRM chez ALTI Relation Clients
    </md-card-header>
    <md-card-content>

 <ul  fxShow="false" fxShow.gt-sm="true">
    <li>Installer et configurer un progiciel CRM.</li>
    <li>Conception en fonction des besoins et problématiques métier et des
    possibilités du progiciel.</li>
    <li>Paramétrer un outil CRM.</li>
    <li>Réaliser des développements spécifiques (En Javascript, Jscript.NET ).</li>

</ul>
</md-card-content>

</md-card>

<div fxFlex="100" class="vide">
</div>
  <div fxFlex="15" fxFlex.xs="10" >

  <md-card class="full-circle2"><span>Sep 2016 <br> -- <br> Sep 2017</span></md-card>
 </div>
  <md-card fxFlex="80" fxFlex.xs="100"  class="experience" id="exp2">
    <md-card-header>
Contrat pro Consultant transfomation digitale SNCF Mobilités
    </md-card-header>
    <md-card-content>

    <ul  fxShow="false" fxShow.gt-sm="true">
    <li>Mettre en place des solutions SI basées sur Office 365 ( Sharepoint,PowerApps) et former les utilisateurs à leurs utilisat
    </li><li>Rédiger les besoins fonctionnels d'un futur SI Qualité Industrielle tout en restant à prixomité des utilisateurs finaux afin de mieux comprendre leurs besoins
    </li><li>Créer des tableaux de bord de visualisation de données sur Power BI.</li>
    <li>Développements spécifiques sur Sharepoint avec Office UI Fabric.</li>
  </ul>
  </md-card-content>

  </md-card>
</div>



  </md-card-content>
