

<div *ngIf="this.data.name =='Gestionnaire'">
<h1 mat-dialog-title>Gestionnaire de tâches</h1>

<div mat-dialog-content >
<ul  >
  <li>Technologies:</li>
  <!-- On voit que </li> n'est pas là -->
  <ul>
    <li>Front end : Angular 4 : Angular Material Components, Module Forms pour créer le formulaire d'inscription, services, routes, services HTTP, Promises.
    </li>
    <li>Back end :NodeJS/ExpressJS: définition des routes coté serveur.
    </li>
    <li>SGBD : MySQL .
    </li>
  </ul>
  <li> Fonctionnalités : </li>
  <!-- Là on ouvre une autre liste -->
  <ul>
    <li>Créer des profils.</li>
    <li>Se connecter et déconnecter de l'application.</li>
    <li>Créer, supprimer ou modifier des tâches.</li>
    <li>Changer l'état d'une tâche.</li>

  </ul>

</ul>
</div>
</div>

<div *ngIf="this.data.name =='postit'">
<h1 mat-dialog-title>Post-it</h1>

<div mat-dialog-content >
<ul  >
  <li>Technologies:</li>
  <!-- On voit que </li> n'est pas là -->
  <ul>
    <li>Front end : Angular 4 : Angular Material Components, Module Forms pour créer le formulaire d'inscription, services, routes, services HTTP, Promises.
    </li>
    <li>Back end :NodeJS/ExpressJS: définition des routes coté serveur.
    </li>
    <li>SGBD : MySQL .
    </li>
  </ul>
  <li> Fonctionnalités : </li>
  <!-- Là on ouvre une autre liste -->
  <ul>
    <li>Créer des profils.</li>
    <li>Se connecter et déconnecter de l'application.</li>
    <li>Créer, supprimer ou modifier des tâches.</li>
    <li>Changer l'état d'une tâche.</li>

  </ul>

</ul>
</div>
</div>

<div *ngIf="this.data.name =='Puissance4'">
<h1 mat-dialog-title>Puissance 4</h1>

<div mat-dialog-content >
  <p>Ce projet m’a permis d'acquérir les bases du développement Javascript.</p>
<ul  >
  <li>Technologies:</li>
  <!-- On voit que </li> n'est pas là -->
  <ul>
    <li>Javascript, HTML, CSS.
    </li>

  </ul>


</ul>
</div>
</div>

<div *ngIf="this.data.name =='Postit'">
<h1 mat-dialog-title>Post-it</h1>

<div mat-dialog-content >
<ul  >
  <li>Technologies:</li>
  <!-- On voit que </li> n'est pas là -->
  <ul>
    <li>SILEX(PHP), HTML, CSS,SQL</li>

  </ul>
  <li> Fonctionnalités : </li>
  <!-- Là on ouvre une autre liste -->
  <ul>
    <li>Se connecter et déconnecter.</li>
    <li>Ajouter / supprimer des post-it.</li>
  </ul>

</ul>
</div>
</div>

<div *ngIf="this.data.name =='Portfolio'">
<h1 mat-dialog-title>Puissance 4</h1>

<div mat-dialog-content >
<ul>
  <li>Technologies:</li>
  <!-- On voit que </li> n'est pas là -->
  <ul>
    <li> Angular 4, Particules.js, Angular Material Components</li>

  </ul>
  <li> Le but de l'utilisation d'Angular était de maîtriser la mise en page des
applications et le responsive design grâce au composant Flex Layout
de la bibliothèque officielle Angular Material. </li>


</ul>
</div>
</div>
