<div class="titre"> <h1> <md-icon>fitness_center</md-icon> Mes projects </h1> </div>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" class="containercards">
  <div fxFlex="33" fxFlex.xs="100">
    <md-card class="container" >
      <md-card-title>
        Jeu Puissance 4 </md-card-title>
      <img md-card-image src="../../assets/icons/puissance4.png">

      <md-card-content>
        <p>  Javascript, HTML/CSS </p>


      </md-card-content>
      <md-card-actions>
        <button md-button (click)="openDialog()">Voir le projet</button>
        <button md-raised-button color="primary" (click)="openDialog('Puissance4')">Détails</button>
      </md-card-actions>
    </md-card>

  </div>
  <div fxFlex="33" fxFlex.xs="100">
    <md-card class="container">
      <md-card-title>
        Post-it </md-card-title>
      <img md-card-image src="../../assets/icons/post-it.png">

      <md-card-content>
        <p>Silex(PHP), HTML/CSS, AJAX </p>


      </md-card-content>
      <md-card-actions>
        <button md-button (click)="openDialog()">Voir le projet</button>
        <button md-raised-button color="primary" (click)="openDialog('Postit')">Détails</button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxFlex="33" fxFlex.xs="100">
    <md-card class="container">
      <md-card-title>
        Gestionnaire de tâches </md-card-title>
      <img md-card-image src="../../assets/icons/planning.png">

      <md-card-content>
        <p>Angular 4 , NodeJS , ExpressJS, Angular Material Components</p>


      </md-card-content>
      <md-card-actions>
        <button md-button (click)="openDialog()">Voir le projet</button>
        <button md-raised-button color="primary" (click)="openDialog('Gestionnaire')">Détails</button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxFlex="33" fxFlex.xs="100">
    <md-card class="container">
      <md-card-title>
        Portfolio </md-card-title>
      <img md-card-image src="../../assets/icons/student.png">

      <md-card-content>
        <p>Angular 4, Angular Material Components, Particules.js, Typed.js</p>


      </md-card-content>
      <md-card-actions>
        <button md-button (click)="openDialog()">Voir le projet</button>
        <button md-raised-button color="primary" (click)="openDialog('Portfolio')">Détails</button>
      </md-card-actions>
    </md-card>
  </div>

</div>
