<!--
<div class="contactcard">
  <div>
    <md-card class="mdcardcontact">
      <md-card-header class="mdcardheader">
        <p class="headertext">Contactez-moi</p>
      </md-card-header>
      <div>
        <md-card-content class="mdcardcontent">
          <form [formGroup]="form" class="form">
            <div>
              <md-input-container class="full-width">
                <input mdInput type="text" formControlName="name" placeholder="Votre nom">
              </md-input-container>
            </div>
            <div>
              <md-input-container class="full-width">

                <input mdInput type="text" formControlName="email" placeholder="Votre adressse mail">

                <md-error *ngIf="form.get('email').hasError('pattern') ">
                  Le format du mail n'est pas valide
                </md-error>
              </md-input-container>
            </div>

            <div>
              <md-input-container class="full-width">

                <input mdInput type="tel" formControlName="telephone" placeholder="Votre numéro de téléphone">


              </md-input-container>
            </div>
            <div>
              <md-input-container class="full-width">

                <textarea mdInput type="text" formControlName="message" placeholder="Votre message" style="height:200px; "></textarea>
              </md-input-container>

            </div>
            <button md-fab class="send-button" (click)="submit()"><md-icon>send</md-icon></button>

          </form>
        </md-card-content>
      </div>
    </md-card>
  </div>
</div>
-->
<div id="espace"> </div>
<div id="contact">
<p> Vous avez un projet ? Un poste à me proposer ? Ou une remarque à me faire part ?</p>
<p>  N'hésitez pas à m'écrire ! </p>

<a href="mailto:hamza.haddad.dev@gmail.com"><button md-raised-button color="primary" class="bouton"><p> hamza.haddad.dev@gmail.com</p></button> </a>


<div class="iconscontainer">
  <a target="_blank" href="https://www.linkedin.com/in/hamzahaddad/">
    <md-icon svgIcon="img:linkedin" class="contacticon" id="linkedin"></md-icon>
  </a>
  <a target="_blank" href="https://github.com/Githamza">
    <md-icon svgIcon="img:github" class="contacticon" id="github"></md-icon>
  </a>
</div>
</div>
