#espace{
  width: 100%;
  height: 50px;
}
#contact {
height: 100%;
margin-left: 10%;
margin-right: 10%;


text-align: center;
  font-family: 'Roboto-medium';
  font-size: 120%;
}

.bouton {
  font-size: 100%;
  text-align: center;
  font-family: "roboto-medium"


}
button {
  height: 10%;
  margin: 0 auto;



}


.contacticon{
margin: 10%;
width: 50px;
height: 50px;
font-size:50px;
color:#86888A;
}
#linkedin:hover {
  color:#0077B5;
}
#github:hover {
  color:black;
}

.iconscontainer {
  margin-top: 10%;
  width: 100%;
}
@media screen and (max-width:640px) {

  .bouton {

    font-size: 80% ;
    text-align: center;
    font-family: "roboto-medium"


  }

}

















.contactcard {
  width: 500px;
  margin-top: 20%;
}
.mdcardheader {
  background-color: #3f51b5;
  width:100%;
  height: 50px;
}
.headertext {
  margin: 20px;
  font-size: 24px;
  font-family: 'roboto-bold';
  color: white
}
.mdcardcontact {
  height:100%;
  padding:0;
  background-color: #f9fffe;
}
.mdcardcontent {
  margin: 20px;
}
.full-width {
  padding: 10px;
  width: 100%;
}
.send-button {
background-color: #4db6ac;
left:90%;
}

md-error {
  font-size: 16px;
}
