<div class="menu-wrapper">

  <app-menu-accueil>

  </app-menu-accueil>
</div>
<div class="container">

  <div class="innercontainer">
    <app-slide-presentation id="presentation">
    </app-slide-presentation>
  </div>
  <div class="innercontainer">
    <app-formation id="formation">
    </app-formation>
  </div>
  <div class="innercontainer">
    <app-competences1 id="competences">
    </app-competences1>
  </div>

  <div class="innercontainer">
    <app-experiences id="experiences">
    </app-experiences>
  </div>
  <div class="innercontainer">
    <app-projects id="projects">
    </app-projects>
  </div>

  <div class="innercontainer">
    <app-contact id="contact">
    </app-contact>
  </div>

</div>
