

  <md-card-header>

    <h1> <md-icon>school</md-icon> Mes formations </h1>

  </md-card-header>
  <md-card-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutWrap  >
  <div fxFlex="30"fxFlex.xs ="80" >
  <md-card   class="full-circle">2009  2010</md-card>
  </div>
  <div fxFlex.xs="100" class="vide2">
  </div>
  <div fxFlex="70" fxFlex.xs ="80">
  <md-card  class="formation">Baccalauréat scientifique mention bien.</md-card>
</div>

<div fxFlex="100" class="vide">
</div>

  <div fxFlex="30">

  <md-card class="full-circle">2011  2014</md-card>
  </div>
  <div fxFlex.xs="100" class="vide2">
  </div>
  <div fxFlex="70" fxFlex.xs ="80">

  <md-card  class="formation">Classe préparatoire scientifique intégrée . <b>ISTY ( Institut des sciences et
techniques des Yvelines )</b></md-card>
</div>
<div fxFlex="100" class="vide">
</div>

  <div fxFlex="30">

  <md-card class="full-circle">2014 2017</md-card>
  </div>
  <div fxFlex.xs="100" class="vide2">
  </div>
  <div fxFlex="70" fxFlex.xs ="80">

  <md-card class="formation">Cycle ingénieur en informatique.<b> ISTY</b></md-card>
</div>
</div>

  </md-card-content>
