#menu-wrapper {
  position: fixed;
  width: 100%;
  min-width: 90%;
  z-index: 70;
  height: 50px;
  color:"primary";
}
.wrapped {
  text-align: right;
  border: 2px solid black;
}
.mat-menu-panel.my-full-width-menu {
  max-width: none;
  min-width: 80%;
  text-align: center;
}
md-menu-item {
}
#sidenavbar {
  position: fixed;
  width: 10%;
  height: 200px;

z-index: 70;
}
#menu-wrapper button {
  font-family: 'Roboto-light';
  font-size: 80%;
}
#menu-wrapper button:hover {
  color: white;
}
a  {
text-decoration:none;
color: inherit;
font-weight: bold;

}

a button {

font-weight: bold;

}
