    <md-toolbar color="primary" id="menu-wrapper">

      <button md-button fxHide="false" fxHide.gt-sm [mdMenuTriggerFor]="menu" class="wrapped">
                    <md-icon>menu</md-icon>
            </button>
      <md-menu #menu="mdMenu" class="my-full-width-menu">
        <a [routerLink]="['']" fragment="presentation">  <button md-menu-item >
                <md-icon>fingerprint</md-icon>

              </button> </a>
        <a [routerLink]="['']" fragment="formation" ><button md-menu-item >
                <md-icon>school</md-icon>

    </button>
    </a>
        <a [routerLink]="['']" fragment="competences"><button md-menu-item>
                <md-icon>fitness_center</md-icon>

    </button>
    </a>
        <a [routerLink]="['']" fragment="experiences"><button md-menu-item>
                <md-icon>business_center</md-icon>

    </button>
    </a>
        <a [routerLink]="['']" fragment="contact"><button md-menu-item>
                <md-icon>send</md-icon>

    </button>
    </a>
      </md-menu>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <a [routerLink]="['']" fragment="presentation"><button md-button >A propos de moi</button></a>
        <a [routerLink]="['']" fragment="formation"><button md-button >Formations</button></a>
        <a [routerLink]="['']" fragment="competences"><button md-button >Compétences</button></a>
        <a [routerLink]="['']" fragment="experiences"><button md-button >Experiences Professionnelles</button></a>
        <a [routerLink]="['']" fragment="contact"><button md-button >Me contacter</button></a>
      </div>

    </md-toolbar>
