p {
  font-family: 'Roboto-thin';
}

.typed, .post-greeting, .typed2, .recherche {
  display: inline;
}

.typed, .greeting, .post-greeting, .typed2, .recherche {
  font-family: 'Roboto-light';
  font-size: 120%;
}
.greeting {
  width:100%;
}

#container {
  top: 10%;
margin: 0 auto ;
 width: 80%;
  min-width: 200px;
height: 80%;
	display:block;
	text-align: center;
	line-height: 150%;
	padding:0;

}
.barcontainer{
  overflow: auto;
}
