<div fxLayout="column" fxLayoutWrap  class="barcontainer"  >
<div fxFlex="30"  class="bar" >
<div  id="particles-js" ></div>
</div>
  <div class="mdcardcontainer" fxFlex="50" fxFlex.xs="50">
    <md-card id="container">
      <md-card-subtitle>
        Qui suis-je ?
      </md-card-subtitle>
      <img md-card-image src="../../assets/me.jpg" class="me">

      <md-card-content class="bienvenuemsg">
        <p class="greeting">Bienvenue sur mon Portfolio, </p>
        <p class="post-greeting">Je m'apelle Hamza Haddad, ma passion pour le <b>développement Web </b> et <b>les nouvelles technologies</b> depuis mes premiers projets à l'école ingénieurs ISTY m'a amené à me lancer plainement dans ce domaine. </p>


      </md-card-content>
    </md-card>
  </div>
  <div fxFlex class="marecherche">
    <div class="textwidth" >
    <p class="recherche"> Vous êtes à la recherche d'un développeur Web </p>
    <p class="typed2"> </p>
    </div>
    <button md-raised-button color="primary" [routerLink]="['']" fragment="presentation">Découvrez mon portfolio</button>

</div>
</div>
